urls_downloaded_cb({"token": "gstnet.ptpclock.master", "urls": ["libgstnet-1.0/javascript/gstptpclock.html#gstnetptpclockmasterclockid", "libgstnet-1.0/python/gstptpclock.html#gstnetptpclockmasterclockid"]});