urls_downloaded_cb({"token": "namespace", "urls": [{"url": "design/conventions.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "design/toc.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "libgstreamer-1.0/gstplugin.html#gst_plugin_register_static", "context": {"gi-language": ["python", "javascript", "c"]}}, {"url": "libgstreamer-1.0/gstplugin.html#gst_plugin_register_static_full", "context": {"gi-language": ["python", "javascript", "c"]}}, {"url": "gst-devtools-1.0/subprojects/gst-devtools/validate/gst/validate/gst-validate-scenario.html#gst_validate_register_action_type", "context": {"gi-language": ["python", "javascript", "c"]}}, {"url": "gst-devtools-1.0/subprojects/gst-devtools/validate/gst/validate/gst-validate-scenario.html#GstValidateActionType", "context": {"gi-language": ["python", "javascript", "c"]}}]});