@require(page)

@from "hd_utils.html" import url
<li class="dropdown">
    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        API References<span class="caret"></span>
    </a>
	<ul class="dropdown-menu" id="modules-menu">
		@for tup in (("gstreamer-1.0/index.html","GStreamer core"), \
				("gst-plugins-base-1.0/index.html","GStreamer Plugins Base"),\
				("gst-plugins-good-1.0/index.html","GStreamer Plugins Good"),\
				("gst-plugins-bad-1.0/index.html","GStreamer Plugins Bad"),\
				("gst-plugins-ugly-1.0/index.html","GStreamer Plugins Ugly"),\
				("gst-libav-1.0/index.html","GStreamer ffmpeg"),\
				("gstreamer-vaapi-1.0/index.html","GStreamer VAAPI"),\
				("gst-devtools-1.0/index.html","GStreamer Validate"),\
				("gst-rtsp-server/index.html","GStreamer RTSP server"),\
				("gst-editing-services-1.0/c/index.html","GStreamer Editing Services")):
			<li>
				<a href="@url(page, tup[0])">@tup[1]</a>
			</li>
		@end
</li>

<li>
    <a href=@url(page, "application-development/index.html")>Application manual</a>
</li>


<li>
    <a href=@url(page, "tutorials/index.html")>Tutorials</a>
</li>

